﻿@page "/create-order-details"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Create</h3>


<TemplateForm ButtonText="Create" OnValidSubmit="@OnCreateOrderDetails" OrderDetail="@_orderDetail" Products="@_products" Orders="@_orders"></TemplateForm>


@code {
    readonly OrderDetailViewModel _orderDetail = new();
    private ProductViewModel[] _products;
    private OrderViewModel[] _orders;

    protected override async Task OnInitializedAsync()
    {
        _products = await Http.GetFromJsonAsync<ProductViewModel[]>("https://localhost:5001/products");
        _orders = await Http.GetFromJsonAsync<OrderViewModel[]>("https://localhost:5001/orders");
    }

    private async Task OnCreateOrderDetails()
    {
        await Http.PostAsJsonAsync("https://localhost:5001/order-details", _orderDetail);
        NavigationManager.NavigateTo("order-details", true);
    }

}