﻿@page "/order-details"

@layout MainLayout
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h1>Order Details</h1>
@if (_orderDetails == null)
{
    <text>Cargando....</text>
}
else if (_orderDetails.Length == 0)
{
    <text>No existen detalles de ordenes</text>
}
else
{
    <p>
        <a class="btn btn-primary" href="create-order-details">Add</a>
    </p>
    <table class="table">
        <thead>
        <tr>
            <th>
                Order
            </th>
            <th>
                Product
            </th>
            <th>
                Unit Price
            </th>
            <th>
                Quantity
            </th>
            <th>
                Actions
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in _orderDetails)
        {
            <tr>
                <td>
                    @item.OrderId
                </td>
                <td>
                    @item.Product.ProductName
                </td>
                <td>
                    @item.UnitPrice
                </td>
                <td>
                    @item.Quantity
                </td>
                <td>
                    <a class="btn btn-secondary" href="update-order-details/@item.OrderId/@item.ProductId">Editar</a> |
                    <button class="btn btn-danger" @onclick="() => OnDelete(item.OrderId, item.ProductId)">Eliminar</button>
                </td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private OrderDetailViewModel[] _orderDetails;

    protected override async Task OnInitializedAsync()
    {
        _orderDetails = await Http.GetFromJsonAsync<OrderDetailViewModel[]>("https://localhost:5001/order-details");
    }

    private async void OnDelete(int orderId, int productId)
    {
        await Http.DeleteAsync("https://localhost:5001/");
        NavigationManager.NavigateTo("", true);
    }

}