﻿<EditForm Model="@OrderDetail" OnValidSubmit="@OnValidSubmit">
    <hr/>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Product</label>
        <div>
            @if (Products != null)
            {
                <InputSelect class="form-control" @bind-Value="OrderDetail.ProductId">
                    @foreach (var item in Products)
                    {
                        <option value="@item.ProductId">@item.ProductName</option>
                    }
                </InputSelect>
            }
            else if (OrderDetail.Product != null)
            {
                <InputSelect class="form-control" @bind-Value="OrderDetail.ProductId" disabled>
                    <option value="@OrderDetail.ProductId" selected>@OrderDetail.Product.ProductName</option>
                </InputSelect>
            }
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Order</label>
        <div>
            @if (Products != null)
            {
                <InputSelect class="form-control" @bind-Value="OrderDetail.OrderId">
                    @foreach (var item in Orders)
                    {
                        <option value="@item.OrderId">@item.OrderId</option>
                    }
                </InputSelect>
            }
            else if (OrderDetail.Order != null)
            {
                <InputSelect class="form-control" @bind-Value="OrderDetail.OrderId" disabled>
                    <option value="@OrderDetail.OrderId" selected disabled>@OrderDetail.OrderId</option>
                </InputSelect>
            }
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Unit-price</label>
        <div>
            <InputNumber @bind-Value="OrderDetail.UnitPrice" class="form-control"></InputNumber>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Quantity</label>
        <div>
            <InputNumber @bind-Value="OrderDetail.Quantity" class="form-control"></InputNumber>
        </div>
    </div>
    <button type="submit" class="btn btn-success">@ButtonText</button>
</EditForm>

@code {

    [Parameter]
    public OrderDetailViewModel OrderDetail { get; set; } = new();

    [Parameter]
    public string ButtonText { get; set; } = "Save";

    [Parameter]
    public EventCallback OnValidSubmit { get; set; }

    [Parameter]
    public ProductViewModel[] Products { get; set; }

    [Parameter]
    public OrderViewModel[] Orders { get; set; }

}