﻿@page "/update-order-details/{OrderId:int}/{ProductId:int}"
@inject HttpClient Http
@inject NavigationManager NavigationManager

<h3>Update order details</h3>

<TemplateForm ButtonText="Update" OnValidSubmit="@OnUpdateOrderDetail" OrderDetail="@_orderDetail"></TemplateForm>

@code {

    [Parameter]
    public int OrderId { get; set; }

    [Parameter]
    public int ProductId { get; set; }


    OrderDetailViewModel _orderDetail = new();

    protected override async Task OnParametersSetAsync()
    {
        _orderDetail = await Http.GetFromJsonAsync<OrderDetailViewModel>($"https://localhost:5001/order-details/{OrderId},{ProductId}");
        if (_orderDetail != null)
        {
            _orderDetail.Product = await Http.GetFromJsonAsync<ProductViewModel>($"https://localhost:5001/products/{_orderDetail.ProductId}");
            _orderDetail.Order = await Http.GetFromJsonAsync<OrderViewModel>($"https://localhost:5001/orders/{_orderDetail.OrderId}");
        }
    }


    private async Task OnUpdateOrderDetail()
    {
        await Http.PutAsJsonAsync($"https://localhost:5001/order-details/{OrderId},{ProductId}", _orderDetail);
        NavigationManager.NavigateTo("order-details", true);
    }

}